<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    {% block htmlhead %}
        <title>{% block title %}Home{% endblock %} | M2</title>
        <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link href="/feed.atom" rel="alternate" title="Recent Blog Posts" type="application/atom+xml">
        {%- for link in links %}
        <link rel="{{ link.rel }}" href="{{ link.href }}"{%
            if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
        {%- endfor %}
    {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a href="/about/">Michael Merickel</a>'s Cookbook
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">blog</a>
                    <li><a href="/archive/">archive</a>
                    <li><a href="/tags/">tags</a>
                    <li><a href="/research/">research</a>
                    <li><a href="/about/">about</a>
                </ul>
            </div>
            <div class="body">
            {% block body %}{% endblock %}
            </div>
            <div class="footer">
                <p>&copy; Copyright {{ format_date(format='YYYY') }} by Michael Merickel.
                <p>Content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.
                <p>
                    Contact me via <a href="mailto:site@m.merickel.org">mail</a>,
                    <a href="http://github.com/mmerickel">github</a> or
                    <a href="http://bitbucket.org/mmerickel">bitbucket</a>.
                    (<a href="/feed.atom" rel="alternate" title="Recent Blog Posts">feed</a>)
                </p>
            </div>
        </div>
        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24193398-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
